:root {
    --background-color-footer: lightgray;
    --default-font: sans-serif;
    --max-width: 1200px;
}


body {
    background-color: var(--background-color-footer);
    font-family: var(--default-font);
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 300;
    margin: 10px 0;
}

header {
    background-color: #8bc2f9;
    height: auto;
}

.navbar {
    max-width: var(--max-width);
    padding: 0 40px;
    margin: 0 auto;
    overflow: auto;
}

header .flex, footer .flex {
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav a {
    padding: 10px;
    margin: 0 5px;
}

nav h1:hover,a:hover {
     opacity: 0.5;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    background-color: white;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 20px;
    
}

#introduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#introduction img {
    max-width: 400px;
    height: auto;
    padding: 20px;
}

#introduction p {
    font-size: 40px;
}

#description p {
    padding: 10px;
    margin: 0 15px;
    font-size: 20px;
}

footer {
    background-color: var(--background-color-footer);
}

.bottom {
    max-width: var(--max-width);
    padding: 0 40px;
    margin: 0 auto;
    overflow: auto;
}

.copyright {
    font-size: 15px;
}

.fa {
    padding: 10px;
    margin: 0 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width:800px) {
    #introduction {
        grid-template-columns: repeat(1, 1fr);
    }
    #introduction img {
        max-width: 200px;
        padding: 10px; 
    }
    #introduction p {
        font-size: 20px;
    }
    #description p {
        font-size: 17px;
    }
    header .flex {
        justify-content: space-between;
        flex-direction: column;
    }
    
}

textarea {
    font-family: var(--default-font);
    resize: vertical;
}

.contact-form {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 150px 20px;
}


.contact-form input,textarea,button {
    font-size: 20px;
    width: 300px;
}
